.cover__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
}
